/*----------------------------
           DEFAULT
----------------------------*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body, html {
  height: 100%;
  color: #777;
  font-family: cursive;
  overflow: auto;
  
}

body ul, body li, body h1, body h2, body h3, body h4, body h5, body h6, body p, body div, html ul, html li, html h1, html h2, html h3, html h4, html h5, html h6, html p, html div {
  margin: 0;
  padding: 0;
}

body ul, html ul {
  list-style: none;
}


body .no_padding, html .no_padding {
  padding: 0;
}

body .display_hide, html .display_hide {
  display: none;
}

body .opacity_hide, html .opacity_hide {
  opacity: 0;
  visibility: hidden;
}

.container-fluid {
  height: 100%;
}

.container-fluid .wrapper {
  height: 100%;
  background-image: url(../images/bg.jpg);
  background-size: 100% 100%;
}
.text{
  text-align: center;

}


.navbar .row{
  background-color: white;
}

.logo{
      max-width: 120px;
      margin-top:20px 
}

.title{
   margin-top: 40px; 
}

.title h1{
    font-size: 45px;
    line-height: 1.5em;
    font-weight: 100;
} 

section {
  margin-top: 150px; 
}

.heading {
  margin: 20px 0;
}

footer{
  margin-top:20px;
}