  /*----------------------------
             DEFAULT
  ----------------------------*/

  body, html {
    height: 100%;
    color: #777;
    font-family: cursive;
    overflow: auto;
    
  }


  ul {
    list-style: none;
  }

  .logo{
    max-width: 120px;
    margin-top:35px 
  }

  .title{
    margin-top: 40px; 
  }

  .title h1{
    font-size: 45px;
    line-height: 1.5em;
    font-weight: 100;
  } 

 
  .heading {
    margin: 20px 0;
  }

  footer{
    margin-top:20px;
  }